#welcome_section{
    background-image: url(images\Banner.jpg);
    background-size: cover;
    color: lightblue;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-section h1{
    font-family: sans-serif;
    font-size: 3em;
}

.nav{
    position: fixed;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 1.0);
}

.nav li{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    color: midnightblue;
    background-color: seashell;
    padding: 0.5em;
}

.nav a:hover{
    background-color: aquamarine;
}

.utplassing-nav{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.main-nav{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#about{
    margin-top: 5em;
}